# cabal
/dist-newstyle
cabal.project.local

# stack
/.stack-work

# nix
/result

# data
/data/input/chart-requests.toml
/data/input/runs.toml

# web
/web/data/input/charts.json
/web/dist
/web/node_modules
