/* NOTE: [Css Themes]

Some of values used here need to be set from the ts:

  - --global-background-color
  - --selector-border-color
  - --text-color
*/

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: center;
  background: var(--global-background-color);
}

h1 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: var(--text-color);
}

h2 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: left;
}

h4 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: left;
}

.chart-selector {
  float: right;
  text-align: center;
  width: 20vw;

  background-color: var(--global-background-color);
  color: var(--text-color);
  border-color: var(--selector-border-color);
}

.theme-selector {
  float: left;
  text-align: center;
  width: 20vw;

  background-color: var(--global-background-color);
  color: var(--text-color);
  border-color: var(--selector-border-color);
}

.chart-container {
  height: 75vh;
  margin: auto;
  position: relative;
  width: 75vw;
}

.chart-div {
  /* We need this on the inner div, otherwise we run into the "resizing bug",
   * where the chart continuously shrinks or grows until it resets. Apparently
   * this "works", with the chart directly in this div. I haven't tested
   * whether we can include anything else in the div with it, but possibly
   * not.
   *
   * See https://github.com/chartjs/Chart.js/issues/5805
  */
  height: 70vh;
  width: 75vw;
}

p {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: left;
}

.description-title {
  left: 5%;
  position: relative;
  text-align: left;

  color: var(--text-color);
}

.description {
  left: 5%;
  position: relative;

  color: var(--text-color);
}

.checkbox {
  opacity: 0;
  position: relative;
  float: left;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
