body {
  background-color: #191b1c;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: center;
}

h1 {
  /* see NOTE: [Text Color] */
  color: #c3c3c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

h2 {
  /* see NOTE: [Text Color] */
  color: #c3c3c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: left;
}

h4 {
  /* see NOTE: [Text Color] */
  color: #c3c3c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: left;
}

.chart-selector {
  left: 40%;
  position: absolute;
  text-align: center;
  width: 20vw
}

.chart-container {
  height: 75vh;
  margin: auto;
  position: relative;
  width: 75vw;
}

.chart-div {
  /* We need this on the inner div, otherwise we run into the "resizing bug",
   * where the chart continuously shrinks or grows until it resets. Apparently
   * this "works", with the chart directly in this div. I haven't tested
   * whether we can include anything else in the div with it, but possibly
   * not.
   *
   * See https://github.com/chartjs/Chart.js/issues/5805
  */
  height: 70vh;
  width: 75vw;
}

p {
  /* see NOTE: [Text Color] */
  color: #c3c3c3;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: left;
}

.description-title {
  left: 5%;
  position: relative;
  text-align: left;
}

.description {
  left: 5%;
  position: relative;
}
